# Telegram
API_KEY=

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=

# SQlite
SQLITE_PATH=

# Team
TEAM_CHAT_ID=
ANOTHER_CHAT_ID=
TEAM_NAME=
TEAM_ID=
